$brand-color: rgba(0, 0, 255, 0.8) !default;
$brand-color-dark: darken($brand-color, 40%) !default;

.highlight1 {
  z-index: 3;
  font-weight: bold;
  line-height: 1.4 !important;
  padding: 10px 5px 2px 5px;
  display: inline-block;
  color: #343434 !important;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none !important;
  background: none;
  position: relative;
  z-index: 0;
  &::after {
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 100%;
    height: 3px;
    background-color: #343434;
    transition: all 250ms;
  }
  &:hover {
    color: white !important;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    &::after {
      height: 105%;
      width: 105%;
    }
  }
}

.highlight2 {
  color: $brand-color;
  text-decoration: none;
  position: relative;
  padding: 0 0 0.5rem;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-100%) scaleX(0);
    width: 100%;
    height: 3px;
    background-color: $brand-color-dark;
    transition: transform 250ms;
  }
  &:hover {
    color: $brand-color-dark;
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
  }
  &:visited {
    color: darken($brand-color, 15%);
  }
  .social-media-list &:hover {
    text-decoration: none;
  }
}
